* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.test-border {
    border:1px dashed black;
}

.row {
    display:flex;
    flex-wrap:wrap;
}

.full {
    width:100%;
    min-height:50px;
}

.col {
    width: 8.3333%;
    min-height: 100px;
}
  
.col-2 {
    width: calc(2 * 8.3333%);
}
  
.col-3 {
    width: calc(3 * 8.3333%);
}
  
.col-4 {
    width: calc(4 * 8.3333%);
}
  
.col-5 {
    width: calc(5 * 8.3333%);
}
  
.col-6 {
    width: calc(6 * 8.3333%);
}
  
.col-7 {
    width: calc(7 * 8.3333%);
}
  
.col-8 {
    width: calc(8 * 8.3333%);
}
  
.col-9 {
    width: calc(9 * 8.3333%);
}
  
.col-10 {
    width: calc(10 * 8.3333%);
}
  
.col-11 {
    width: calc(11 * 8.3333%);
}
  
.col-12 {
    width: calc(12 * 8.3333%);
}

.head-div {
    display:inline-block;
}

.padding-10 {
    padding:10px;
}

.link {
    display:inline-block;
    margin:10px;
    font-size:20px;
    font-family:'Source Sans Pro', sans-serif;
    text-decoration:none;
}

.nav-link-main {
    font-weight:900;
    font-size:20px;
    font-family:'Oswald', sans-serif
}

.yellow-divider {
    width:100%;
    height:5px;
    background-color:yellow;
    border: 0.5px solid #999;
}

.backg-black {
    background-color:black;
}

.backg-gray {
    background-color:gray;
}

.yellow-txt-color {
    color:yellow;
}

.white-txt-color {
    color:white;
}

.text-align-c {
    text-align:center;
}

.subheader {
    padding:20px;
    background-color:#C6C6C6;
}

.subheader-content {
    font-size:26px;
    font-style:italic;
    font-weight:600;
    font-family:'Merriweather', serif;
}

.center-image {
    background-image:url('assets/coworking.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow:inset 0 0 5px rgba(0,0,0,.75);
}

.center-article {
    float:right;
    margin:50px;
    background-color:rgba(255,255,255,.8);
    padding-top:60px;
    padding-bottom:60px;
    padding-left:40px;
    padding-right:40px;
    height:343px;
    box-shadow:0 0 5px rgba(0,0,0,.75)
}

.center-article-title {
    font-size:30px;
    font-weight:900;
    margin-bottom:5px;
    font-family:'Source Sans Pro', sans-serif;
}

.center-p {
    margin-bottom:25px;
    line-height: 32px;
    font-size:22px;
    font-weight:300;
    font-family:'Source Sans Pro', sans-serif;
}

.center-link {
    background-color: yellow;
    color: black;
    padding: 13px 75px;
    text-decoration: none;
    font-weight:700;
    text-transform:uppercase;
    border-radius:5px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
    font-family:'Oswald', sans-serif;
    font-size: 20px;
}

.post-center-article {
    padding-right:20px;
    padding-top:60px;
    padding-bottom:60px;
    padding-left:80px;
    border-right: 1px solid #C6C6C6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-center-h {
    margin-bottom:5px;
    font-family:'Merriweather', serif;
    font-size:24px;
}

.post-center-p {
    font-size:20px;
    line-height:30px;
    padding-bottom:45px;
    font-family:'Source Sans Pro', sans-serif;
}

.post-center-link {
    background-color:#C6C6C6;   
    padding: 18px 82px;
    box-shadow: 0 2px 0 gray;   
}

.no-border {
    border-right:none;
}

.less-padding {
    padding-left:40px;
}

.footer-p {
    font-size:20px;
    font-family:'Source Sans Pro', sans-serif;
}

.footer {
    padding:35px;
}

.header-link {
    font-family:'Merriweather', serif;
    font-size:30px;
    text-decoration:none;
    display:block;
    padding-top:15px;
    padding-left:50px;
}

.no-underline { 
    text-decoration:none;
}

.side-nav-links:hover{
    color:yellow;
}

.subheader-del {
    color:#999;
}

.subheader-ins {
    text-decoration:none;
    border-bottom:3px solid yellow;
}